/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilizar utilizando uma TAG como seletor*/

/* Sintaxe do CSS:

seletor{propriedade: valor} --> Regra do CSS*/ 

body{
    width: 1669px;
    height: 919px;
    background-color: white;
    
}



.content-header{
    margin: 0 auto 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1120px;
    height: 482px;
    
    
}

.banner-header{
    width: 90%;
    height: 90%;
    background-color: lightblue;
}

.content-hero{

    
    width: 1116px;
    height: 482px;

    margin: 0 auto;
    
    display: flex;
    /* Alinhamento horizontal (x) */
    justify-content: space-between;
    /* Alinhamento vertical (y) */
    align-items: center;
}

.box{
    border-radius: 25px;
    border: 2px solid;
    border-color: deepskyblue;
    background-color:cornflowerblue;
    width: 356px;
    height: 426px;
    text-align: center;
    
}



