/* Resent Padrão */

*{ 
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}


.conteudo-principal{
    display: flex;
    margin: 10vw 12vw;
}

img{
    width: 450px;
    height: 650px;
}

.conteudo-principal__direito--descricao{
    
}